<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobeye.geolocation">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>
        <provider
            android:name="com.mobeye.geolocation.MobeyeGeolocationProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false">
        </provider>
    </application>
</manifest>
